@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --line-border-fill: #ED1614;
    --line-border-empty: #e0e0e0;
}

body {
    background-color: #f6f7fb;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    justify-content: space-between;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    background-color: var(--line-border-empty);

}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.step-img {
    filter: grayscale(100%);
    width: 18px;
    height: 18px;
    transition: .4s ease;
}

.step-img.img-active {
    transform: scale(2);
    transition: .4s ease;
    filter: grayscale(0);
}



.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 0.8rem 2rem;
    margin: 5px;
    font-size: 1rem;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}